{
    "tabWidth": 4,
    "svelteSortOrder": "options-markup-scripts-styles",
    "svelteStrictMode": true,
    "bracketSameLine": false,
    "svelteAllowShorthand": false,
    "svelteIndentScriptAndStyle": false
}